.gradiented-btn{
    padding: 7px 20px; 
    margin-right: 10px;
    background: linear-gradient(to left, rgba(138,199,131,1), rgb(42, 171, 143));
    border: none;
    font-size: 1rem;
}
.gradiented-btn a{
 text-decoration: none;
 color:white;
}
.gradiented-btn:hover{
    background: linear-gradient(to right, rgba(138,199,131,1), rgb(42, 171, 143));
    transition: all 2.0s ease;
}
.box-project{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.project-icon{
    display: flex;
    justify-content: center;
    max-width: 240px;
    width: 100%;

}
.project-icon img{
    height: 150px;
    width: 150px;
    border-radius: 5rem;
}
.project-background{
    width: 100%;
    max-width: 760px;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px;
}
.project-background article{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}
.project-background p{
    margin: 7px 0;
    font-style: italic;
    line-height: 1.25;
    color: grey;
}



@media only screen and (max-width: 800px) {
    .box-project{
        flex-direction: column;
    }
    .project-background{
        text-align: center;
    }
}
